{%extends 'base.html'%}
{%block body_block%}
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>JobTitle</th>
                <th>CompanyName</th>
                <th>Location</th>
                <th>Salary</th>
                <th>Actions</th>
            </tr>
            {%for job in jobs%}
            <tr>
                <td>{{job.id}}</td>
                <td>{{job.job_title}}</td>
                <td>{{job.company_name}}</td>
                <td>{{job.location}}</td>
                <td>{{job.salary}}</td>
                <td><a href="{%url 'job-details' job.id%}" class="btn btn-outline-success">View</a>
                    <a href="{%url 'job-edit' job.id%}" class="btn btn-outline-warning">Edit</a>
                    <a href="{%url 'job-delete' job.id%}" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>

            {%endfor%}
        </table>
    </div>
    <div class="col-1"></div>
</div>

{%endblock%}