{%extends "base.html"%}
{%block body_block%}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="card text-center">
            <div class="card-header" >
               <h3> {{job.job_title}} </h3>

            </div>
            <div class="card-body">

                    Company:{{job.company_name}}

                <p class="card-text">
                   Location: {{job.location}}
                </p>
                <p class="card-text">
                    Salary:{{job.salary}}
                </p>
                <p class="card-text">
                    Experience: {{job.experience}}
                </p>
                <a href="{%url 'employee-application-List' job.id%}" class="btn btn-success" >view applications</a>
            </div>

        </div>
    </div>
    <div class="col-2"></div>
</div>
{%endblock%}