{%extends 'base.html'%}
{%block body_block%}
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">

        <h1>
            EMPLOYER HOME {{request.user}}
        </h1>

      <form action=""method="post">
        {%csrf_token%}
        <input class="btn btn-outline-dark" type="password"name="pwd"placeholder="currentpassword {{request.user}}">
        <input class="btn btn-outline-danger" type="submit" value="verify">
      </form>
    </div>
    <div class="col-4"></div>
</div>
{%endblock%}